main{
    display: flex;
}


.card-producto img{
    width: 50px;
    height: 50px;
}

.card-producto{
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorProductos, main{
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contenedorCarrito{
    width: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorCarrito li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}